 @font-face {
        font-family: "PT Sans Bold";
        src: url('ptsans.eot?#iefix') format('embedded-opentype'), url('../fonts/ptsansbold.woff') format('woff'), url('../fonts/ptsansbold.woff2') format('truetype');
    }


* {
  padding: 0;
  margin: 0;
}
body {
  background-color: white;
 width: 1300px;
}
a {
  text-decoration: none;
}

.container {
   max-width: 1300px;
   margin: 0 auto;
}


.logo{
  width: 510px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 570px;
  margin: 0 auto;
}

.header-nav li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}

.text-up {
  width: 430px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.text-center {
  width: 616px;
  margin: 0 auto;
}
.text-down {
  width: 674px;
  margin: 0 auto;
}

.btn-feedback {
  width: 230px;
  height: 60px;
  padding: 18px 45px;
  background-color: #e26d6d;
  color: white;
}

.reviews {
  position: relative;
  margin-left: auto;
  width: 628px;

}

.reviews section {
  display: flex;
}

.text-reviews p {
  width: 407px;
}

.all-works {
  display: flex;
}