 @font-face {
     font-family: "Verdana";
 }

 * {
     padding: 0;
     margin: 0;
 }

 body {
     position: relative;
     background-color: white;
     font-family: Verdana, Geneva, sans-serif;
 }

 a {
     text-decoration: none;
 }

 .body_all {
     position: relative;
     margin: 0 auto
 }

 .back-up-left {
     position: absolute;
     top: 0;
     z-index: -111;
 }

 .back-up-right {
     position: absolute;
     top: 0;
     right: 0;
     z-index: -111;
 }

 .back-up-right-two {
     position: absolute;
     top: 280px;
     right: 0;
     z-index: -111;
 }

 .back-up-center {
     position: absolute;
     top: 280px;
     left: 360px;
     z-index: -111;
 }

 .back-center-right {
     position: absolute;
     top: 680px;
     left: 660px;
     z-index: -111;
 }

 .back-center-left {
     position: absolute;
     top: 40%;
     z-index: -111;
 }

 .back-center1-left {
     position: absolute;
     top: 50%;
     z-index: -111;
 }

 .back-down-left {
     position: absolute;
     bottom: 0;
     z-index: -111;
 }

 .back-down-right {
     position: absolute;
     bottom: 0;
     right: 0;
     z-index: -111;
 }

 .back-down1-right {
     position: absolute;
     bottom: 0;
     right: 0;
     z-index: -111;
 }

 .logo {
     width: 500px;
     margin: 0 auto;
 }

 .logo-img {
     margin-top: 30px;
     margin-bottom: 53px;
 }

 .header-nav {
     display: flex;
     justify-content: center;
     margin: 0 auto;
     margin-bottom: 135px;
     border-bottom: 3px solid black;
 }

 .header-nav li {
     display: inline-block;
     text-decoration: none;
     list-style: none;
     margin: -3px 20px;
     padding-bottom: 17px;
     border-bottom: 3px solid black;
     font-size: 14px;
     letter-spacing: 1px;
     transition: 0.5s;
 }

 .header-nav li a {
     color: #757575;
     transition: 0.5s;
 }

 .header-nav li:hover a {
     color: #e26d6d;
 }

 .header-nav li:hover {
     border-bottom: 3px solid #e26d6d;
 }


 .header-nav li a.active {
     color: #e26d6d;
 }

 .text-up {
     width: 420px;
     margin: 0 auto;
     margin-bottom: 55px;
 }

 .feedback {
     margin-bottom: 98px;
 }

 .btn-feedback {
     position: relative;
     left: 50%;
     margin-left: -123px;
     width: 250px;
     height: 80px;
     padding: 18px 51px;
     background-color: #e26d6d;
     font-size: 20px;
     font-weight: bolder;
     font-style: italic;
     letter-spacing: 1.5px;
     color: white;
     transition: 0.2s;
 }

 .btn-feedback:hover {
     background-color: #ff9999;
 }

 .btn-feedback:focus {
     background-color: #ff9999;
 }

 .works {
     margin-bottom: 135px;
 }

 .text-center {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     width: 588px; 
 }

 .text-center img {
     margin-bottom: 25px;
 }

 .text-center p {
     width: 595px;
     margin-bottom: 27px;
     font-size: 14px;
     letter-spacing: 1.4px;
     font-style: italic;
     line-height: 36px;
     text-align: center;
 }

 .btn-works {
     display: block;
     margin: 0 auto;
     margin-bottom: 20px;
     padding: 21px 28px;
     background-color: #fecccc;
     font-size: 16px;
     font-weight: normal;
     letter-spacing: 1.2px;
     font-style: italic;
     color: black;
     transition: 0.2s;
 }

 .btn-works:hover {
     background-color: #ff9999;
 }

 .btn-works:focus {
     background-color: #ff9999;
 }

 .text-down {
     width: 674px;
     margin: 0 auto;
     margin-top: 135px;
     margin-bottom: 20px;
 }

 .reviews {
     position: relative;
     margin-left: auto;
     margin-right: 111px;
     margin-bottom: 140px;
     width: 628px;
 }

 .reviews h3 {
     margin-bottom: 12px;
     font-size: 20px;
     font-weight: bold;
     letter-spacing: 2px;
     line-height: 40px;
 }

 .reviews section {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     transition: 0.2s;
 }

 .reviews section:hover {
     background-color: #ffebeb;
 }

 .arrow {
     position: absolute;
     left: 59%;
     bottom: -20px;
     display: block;
     width: 40px;
     height: 40px;
     background-color: #ffebeb;
     border-radius: 50%;
     background-image: url(../img/arr.png);
     background-repeat: no-repeat;
     background-position: center;
     transition: 0.2s;
 }

 .arrow:hover {
     background-color: #ffb0b0;
 }

 .section-up {
     margin-bottom: 40px;
 }

 .rev-img {
     height: 133px;
 }

 .text-reviews {
     margin-left: 16px;
     padding: 30px 0;
 }

 .text-reviews h4 {
     font-size: 16px;
     font-style: italic;
     letter-spacing: 1px;
     margin-bottom: 14px;
 }

 .text-reviews p {
     width: 396px;
     font-size: 14px;
     font-style: italic;
     letter-spacing: 1.2px;
     line-height: 28px;
 }

 .all-works {
     display: flex;
     overflow: hidden;
     max-width: 1400px;
     margin: 0 auto
 }

 .prev-block {
     display: ;
 }

 .prev-works {
     position: relative;
     width: 281px;
     min-height: 374px;
     cursor: pointer;
     transition: 0.1s;
 }

 .prev-works:hover {
     box-shadow: inset 0px 0px 0px 4px rgba(254, 204, 204, 1);
 }

 .prev-works:hover .look {
     display: block;
 }

 .prev-works img {
     position: relative;
     z-index: -1;
 }

 .prev-works h4 {
     padding: 5px 0px;
     text-align: center;
 }

 .prev-works p {
     padding: 10px 0px;
     text-align: center;
 }

 .look {
     display: none;
     position: absolute;
     bottom: 0;
     width: 281px;
     padding: 10px 0px;
     background-color: #fecccc;
     text-align: center;
     font-weight: normal;
     letter-spacing: 1.2px;
     font-style: italic;
     color: black;
     transition: 0.2s;
 }

 .look:hover {
     background-color: #ffb0b0;
 }

 footer p {
     display: block;
     text-align: center;
     padding: 10px 0;
     font-weight: bolder;
     letter-spacing: 1.2px;
 }

 .foot-email {
     width: 164px;
     margin: 0 auto;
     margin-bottom: 30px;
     border-bottom: 2px solid black;
 }

 .social {
     display: flex;
     justify-content: space-around;
     width: 120px;
     margin: 0 auto;
 }

 .social a {
     display: inline-block;
     width: 30px;
     height: 30px;
     margin: 0;
     margin-bottom: 60px;
     background-color: red;
     outline: 1px solid red;
 }
 /*--------portfolio----------*/

 .our-wedding {
     width: 500px;
     margin-bottom: 20px;
 }

 .our-wedding p {
     text-align: center;
 }

 .portfolio-wedding {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .wedding {
     position: relative;
     display: flex;
     justify-content: space-between;
     width: 1170px;
     margin: 60px 0;
 }

 .photo-wedding:first-child {
     cursor: pointer;
     transition: 0.3s;
 }

 .photo-wedding:first-child:hover {
    filter: saturate(130%);
 }


 .center-space {
     width: 160px;
     height: 52px;
 }

 .wedding-2 {
     width: 431px;
     height: 620px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .wedding-3 {
     width: 260px;
     height: 620px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .wedding-info {
     position: absolute;
     bottom: 0;
     margin-bottom: 35px;
     margin-left: 40px;
 }

 .wedding-info h2,
 .wedding-info p {
     font-size: 16px;
     color: #ffffff;
     margin: 15px 0;
 }
 .wedding-info p {
     margin-bottom: 23px;
 }

 .wedding-info a {
     font-size: 16px;
     color: #ffffff;
     transition: 0.3s;
 }
 .wedding-info a:hover {
     color: tomato;
 }


 /*-------rewies-----*/

 .wed-rew {
     margin-bottom: 30px;
     width: 1170px;
     height: 
 }

 .rewies-text {
     position: relative;
     width: 570px;
     text-align: center;
     background: white;
     font-size: 14px;
     line-height: 28px;

 }

 .rewies-text h3 {
     font-size: 16px;
     text-align: left;
     margin: 20px 40px;
 }

 .rewies-text p {
    width: 489px;
    margin: 0 auto;
 }

 .rewies-photo-wed {
     width: 570px;
 }

 .arrow-rew {
     position: absolute;
     left: 45%;
     bottom: 0;
 }
 /*---------about-us----------*/

 .working {
     display: flex;
     justify-content: space-around;
     width: 70%;
     outline: 1px solid tomato;
 }

 .work-left,
 .work-right {
     width: 300px;
     min-height: ;
     outline: 1px solid green;
 }